@model Movies.Web.Models.MovieResponse
<div class="col-lg-3 col-md-4 col-sm-6">
    <article class="card movie-card">
        <header class="title-header">
            <b>@Model.Title</b>
        </header>
        <div class="card-block">
            <div class="img-card">
                <img src="@Model.Poster" alt="Movie" class="w-100">
            </div>
            <p class="tagline card-text text-xs-center">@Model.Year</p>
            <a href="@Url.Action("Details")" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> View Details</a>
        </div>
    </article>
</div>